<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
     <!-- Navbar section -->
     <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="../static/img/logo leptop.jpg" alt="logo"></div>
            <li><a href="http://127.0.0.1:5500/ResponsiveWebsite/views/index.html#home">Home</a></li>
            <li><a href="#about.html">About</a></li>
            <li><a href="#service">Service</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
         <!-- searchbar -->
         <div class="rightnav v-class-resp">
            <input type="text" name="search" id="search" placeholder="search">
            <button class="btn1 btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <h1 class="aboutH1">About us</h1>
    

    <section class="secRight">
        <div class="paras">
            <p class="sectiontag text-big">This is the prove of Innovation</p>
            <p class="sectionsubtag text-sml">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Beatae nihilat libero esse placeat veritatis voluptatem, alias distinctio consectetur architecto
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est error minima dolore
                ea exercitationem laborum nesciunt praesentium quos quas
                quia, voluptatum veniam molestiae, rem quaerat eum perspiciatis quisquam atque!
                Asperiores?perspiciatis natus magni quisquam
                voluptatum necessitatibus ipsum ipsa explicabo aliquid corrupti. Fugit, nam explicabo.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ab ea
                tenetur ducimus qui, illo consectetur cum voluptatum similique? Numquam he
                aliquid dicta. Saepe eius repudiandae itaque!</p>
        </div>
        <div class="thumbnail">
            <img src="../static/img/lep1.png" alt="leptop girl img">
        </div>
    </section>


    <section class="secleft">
        <div class="parasleft">
            <p class="sectiontagleft text-big">This is the prove of Innovation</p>
            <p class="sectionsubtagleft text-sml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nihil
                at libero esse placeat veritatis voluptatem, alias distinctio consectetur architecto
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est error minima dolore ea exercitationem
                laborum nesciunt praesentium quos quas
                quia, voluptatum veniam molestiae, rem quaerat eum perspiciatis quisquam atque! Asperiores?perspiciatis
                natus magni quisquam
                voluptatum necessitatibus ipsum ipsa explicabo aliquid corrupti. Fugit, nam explicabo.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ab ea
                tenetur ducimus qui, illo consectetur cum voluptatum similique? Numquam he aliquid dicta. Saepe eius
                repudiandae itaque!</p>
        </div>
        <div class="thumbnailleft">
            <img src="../static/img/lep3.png" alt="leptop girl img">
        </div>
    </section>


    <section class="secRight">
        <div class="paras">
            <p class="sectiontag text-big">Lets Grow Together</p>
            <p class="sectionsubtag text-sml">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nihil
                at libero esse placeat veritatis voluptatem, alias distinctio consectetur architecto
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est error minima dolore ea exercitationem
                laborum nesciunt praesentium quos quas
                quia, voluptatum veniam molestiae, rem quaerat eum perspiciatis quisquam atque! Asperiores?perspiciatis
                natus magni quisquam
                voluptatum necessitatibus ipsum ipsa explicabo aliquid corrupti. Fugit, nam explicabo.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ab ea
                tenetur ducimus qui, illo consectetur cum voluptatum similique? Numquam he aliquid dicta. Saepe eius
                repudiandae itaque!</p>
        </div>
        <div class="thumbnail">
            <img src="../static/img/lep4.png" alt="leptop girl img">
        </div>
    </section>
</body>
</html>